* {
	margin: 0;
	padding: 0;
}

.container {
	padding: 150px 20px;
	background: white;
	text-align: center;


}

.dot {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: blueviolet;
	border-radius: 50%;
	cursor: pointer;
}

.button-prev {
	display: inline-block;
	vertical-align: middle;
	padding: 5px 10px;
	background: #F0E68C;
	color: black;
	width: 50px;
	height: 30px;
	cursor: pointer;
}

.button-next {
	display: inline-block;
	vertical-align: middle;
	padding: 5px 10px;
	background: #F0E68C;
	color: black;
	width: 50px;
	height: 30px;
	cursor: pointer;
}



.button-prev:hover,
.button-next:hover,
.dot:hover {
	background: #6495ED;
}

.button-prev:active,
.button-next:active,
.dot:active {
	background: black;
}

.slider-wrapper {
	overflow: hidden;
	height: 500px;
	width: 800px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
}


.slider-line {
	left: 0;
	display: flex;
	position: relative;
	width: 8000px;
	/* transition: 1s; */
}



.active {
	background: black;
}

.div {
	width: 800px;
	height: 500px;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	color: white;
}

.div2 {
	width: 800px;
	height: 500px;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	color: white;
}

.div3 {
	width: 800px;
	height: 500px;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	color: white;
}

.div4 {
	width: 800px;
	height: 500px;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	color: white;
}

.div5 {
	width: 800px;
	height: 500px;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	color: white;
}

.div6 {
	width: 800px;
	height: 500px;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	color: white;
}

.div7 {
	width: 800px;
	height: 500px;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	color: white;
}

.div8 {
	width: 800px;
	height: 500px;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	color: white;
}

.div9 {
	width: 800px;
	height: 500px;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	color: white;
}

.div10 {
	width: 800px;
	height: 500px;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	color: white;
}

.dots-wrapper {
	margin-top: 30px;
}